.login {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
  height: 100vh;
  background-color: #191414;
}

.login > img {
  max-width: 100%;
  object-fit: contain;
}

.login > a {
  text-decoration: none;
  background-color: #1db954;
  color: #191414;
  font-weight: 600;
  font-size: 1.4rem;
  padding: 1rem 1.6rem;
  border-radius: 2rem;
}
